@charset "UTF-8";

/** フォントを読み込む場合 **/
// @font-face {
//   font-family: "";
//   url("") format('woff');
// }

@mixin fontRobotoBold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

@mixin fontRobotoItalic {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}

@mixin fontRoboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

@mixin fontRobotoCondensed {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

@mixin fontJosefin400 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

@mixin fontJosefin700 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

@mixin fontHirakakuW3 {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro' ;
}

@mixin fontHirakakuW6 {
  font-family: 'ヒラギノ角ゴ Pro W6', 'Hiragino Kaku Gothic Pro' ;
}

.fontRoboto {
  @include fontRoboto;
}

.fontRobotoCondensed {
  @include fontRobotoCondensed;
}

.fontRobotoBold {
  @include fontRobotoBold;
}

.fontRobotoItalic {
  @include fontRobotoItalic;
}

.fontJosefin400 {
  @include fontJosefin400;
}

.fontJosefin700 {
  @include fontJosefin700;
}
