//- footer
footer.footer
  ul.footer_items
    li.footer_item
      a.footer_link(href="#" target="_blank") XXXXX
    li.footer_item
      a.footer_link(href="#" target="_blank") XXXXX
    li.footer_item
      a.footer_link(href="#" target="_blank") XXXXX
    li.footer_item
      a.footer_link(href="#" target="_blank") XXXXX
  p.Footer__copyright
    |© XXXXX Company, Limited.
