extends /include/_DefaultLayout

prepend ConfigBlock

//- append StylesheetBlock

append JavascriptBlock
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript")
  script(src="./js/device.min.js" type="text/javascript")
  script(src="./js/app.js" type="text/javascript")
block ContentBlock
  .wrapper#js-wrapper      
    //- header
    include include/_DefaultHeader
    
    //- ここにコンテンツ

    //- footer
    include include/_DefaultHeader
